
#particles-js {
    background: radial-gradient(circle, #e7eff6 0%,
    #1167b1  0%);
    height: 100vh;
}

.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%
}





.login__card {
    width: 28rem;
    height: 28rem;
    position: absolute;
    z-index: 200;
    background: none;
    border-radius: 100%;
    box-shadow: 0 0 300px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login__card > h1 {
    font-size: 5rem;
    color: #fff; 
    margin: 0;

}
.login__card > h2 {
    font-size: 1.8rem;
    color: lavender;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color:  white ;

    font-size: 20px;
    font-weight: bold;
    margin-top: 3vh;
    border-width: 0px;
    border-radius: 25px;
    height: 7vh;
    width: 15rem;
    z-index: 100;
}

.loginBtn:hover {
    background: white;
    color:  #1167b1 ;
    cursor: pointer;

}


@media only screen and (max-width: 768px) {
    
  }
  