.allevents{
    /* margin-top: 120px; */
    margin-left: 250px;
    background-color: #e7eff6 ;

  }
  
.allevents__headerContainer {
    background-color: #1167b1;
    margin-top: 3rem;
    padding: 2rem;
}

.allevents__header{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.allevents__header > h1 {
    font-size: 3rem;
}

.allevents__header > a {
    color:white;
}
.allevents__addIcon{
    color:white;
}


.allevents__createEvent {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.allevents__appdesc {
    text-align: center;
    width: 50%;
}

.allevents__searchBar {
    position: fixed;
    top: 90vh;
    left: 8vw;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    background: #414757;
}
.allevents__searchBar > input {
  border: none;
  border-radius: 20px;
  color: #4b86b4 ;
  font-size: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 1rem;
}

::-webkit-input-placeholder {
    color: #4b86b4;
}

.allevents__eventCards {
    padding: 5rem 0;
}


@media only screen and (max-width: 768px) {
    .allevents {
        margin-left: 0px;
  }
  
  .allevents__searchBar {
    left: 0vh;
}

}




