.home {
  margin-top: 80px;
  background-color: #e7eff6;
}

.home__container {
  display: flex;
  height: 90.2vh;
}

.home__left {
  display: none;
  flex: 0.2;
  border-right: 1px solid white;
  overflow: scroll;
  background-color: #1167b1;
  position: fixed;
  z-index: 200;
  left: -100%;
}

.home__right {
  margin-left: 250px;
  flex: 1;
  overflow: scroll;
  -moz-box-shadow: inset 0 0 30px #1167b1;
  -webkit-box-shadow: inset 0 0 30px #1167b1;
  box-shadow: inset 0 0 50px #4b86b4;
}

.home__AddIcon > svg {
  font-size: 5rem !important;
  color: white;
  opacity: 1;
}

.home__Add {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  color: #4b86b4;
}

.home__AddIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  font-size: 0.5rem;
  background-color: #1167b1;
  border-radius: 50%;
  box-shadow: 0 0 30px #4b86b4;
}

.home__AddIcon > h1 {
  color: white;
}

@media only screen and (max-width: 768px) {
  .home__right {
    margin-left: 0px;
  }
}
