.event__container {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    /* border: 2px solid #1167b1; */
    box-shadow: 0 0 20px lightgray;
    border-radius: 12px;

}

.event__detailsRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.event__title {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #1167b1;
    border-radius: 10px 10px 0 0;
}



.event__title > h1 {
    margin-left: 1rem;
    overflow: scroll;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event__titleOptions {
    display: flex;
    align-items: center;
}

.event__titleOptions > a > p{
    color: black;
    margin: 0 1rem
}

.event__titleOptions > p{
    color: black
}
.event__titleDelete{
    color: black;
    margin: 0 1rem
}

.event__titleDelete:hover {
    cursor: pointer;
    scale: 1.2;
}

.event__info {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.event__desc {
    color: #1167b1;
    margin-top: 0.5rem;
    padding: 1rem;
    text-align: left;
    font-weight: lighter;
    overflow: scroll;
    max-width: 50vw;
}

::-webkit-scrollbar {
    display: none;
  }

.event__detailContainer {
    border-left: 2px solid white;

}

.event__details {
    display: flex;
    height: 10rem;
    width: 15rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around; 

}

.event__detailsLocationRow {
   display: flex;
   justify-content: space-between;
}

.event__detailsTitle {
    color: #4b86b4;
    font-size: 1rem;
    font-weight: normal;
    
}

.event__detailsSubtitle {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-bottom: 1rem;
    color: #1167b1;
    margin-left: 1rem;
    font-weight: normal;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event__location {
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    color: #4b86b4;
    font-size: 1rem;
    font-weight: bolder;
}

.event__location > a:-webkit-any-link {
    color: #1167b1;
}

.event__confType{
    font-weight: lighter;
}

@media only screen and (max-width: 1303px) {
    .event__desc {
        padding: 1rem;
        max-width: 100%;
    }
    .event__detailContainer {
        width: 100%;
    
    }
    .event__details {
        display: flex;
        height: 10rem;
        width: 15rem;
        padding: 1rem;
        justify-content: space-around; 
    
    }

  }



@media only screen and (max-width: 768px) {
    .event__info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
     }
     .event__detailContainer {
        width: 100%;
        align-items: center;
    
    }
  }

@media only screen and (max-width: 537px) {
    .event__container {
        margin: 0rem;
        border-radius: 0px;
    }
    .event__title {
        border-radius: 0px;
    }

  }