.event__container {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 12px;

}

.event__detailsRow {
    display: flex;
    justify-content: space-between;
}



.event__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    color: #1167b1;
    background: white;
    border-radius: 10px 10px 0 0;

}

.event__title > h1 {
    margin-left: 1rem;
}

.event__titleOptions {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.event__titleDelete:hover {
    cursor: pointer;
    scale: 1.2;
}

.event__info {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   /* align-items: center; */
}

.event__desc {
    color: #1167b1;
    padding: 1rem;
    text-align: justify;
    font-weight: lighter;
    overflow: scroll;
    width: 60%;
    height: 12rem;
    margin: 0.5rem;
}

::-webkit-scrollbar {
    display: none;
  }

.event__detailContainer {
    border-left: 2px solid white;

}

.event__details {
    display: flex;
    height: 10rem;
    width: 15rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around; 

}

.event__detailsLocationRow {
   display: flex;
   justify-content: space-between;
}

.event__detailsTitle {
    color: #4b86b4;
    font-size: 1rem;
    font-weight: normal;
    
}

.event__detailsSubtitle {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-bottom: 1rem;
    color: #1167b1;
    margin-left: 1rem;
    font-weight: normal;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event__location {
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    color: #4b86b4;
    font-size: 1rem;
    font-weight: bolder;
}

.event__confType{
    font-weight: lighter;
}