.newevent {
    padding: 3rem;
    overflow: scroll;
}
.confName {
    height: 2rem;
    width: 15rem;
}

.EventForm {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.EventForm__name{
    display: flex;
    flex-direction: column;
}

.form__label{
    font-size: 1rem;
    font-weight: bold;
    color: #1167b1;
}

.form__input {
    height: 2rem;
    width: 20rem;
    margin: 1rem 0rem;
    padding-left: 2rem;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    background: white;
    color: #03254c;
    font-size: 1rem;
}

.EventForm__nameInput {
    width:50%;
    height: 3rem;
    margin: 1rem 0rem;
    padding-left: 2rem;
    border: none;
    border-radius: 25px;
    color: #03254c;
    font-size: 2rem;
}


.EventForm__organization {
    display: flex;
    flex-direction: column;
}



.EventForm__organizationInput {
    height: 2rem;
    width: 20vw;
    margin-top: 1rem;
    padding-left: 2rem;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    color: #03254c;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
  }

textarea:focus {
    outline: none;
}

.NewEvent__date {
  display: flex;
}


.NewEvent__startDate {
    display: flex;   
    flex-direction: column;
    margin-left: 3rem;
}

.NewEvent__dateInput {
    height: 2rem;
    margin: 1rem 0rem;
    padding-left: 2rem;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    background: white;
    color: #03254c;
    font-size: 1.5rem;
}



.NewEvent__endDate {
    display: flex;   
    flex-direction: column;
    margin-left: 3rem;
}

.EventForm__orgDate {
    display: flex;
}

.NewEvent__description {
    display: flex;
    flex-direction: column;
}


.NewEvent__descriptionInput {
    height: 10rem;
    margin: 1rem 0rem 2rem 0;
    padding-left: 2rem;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    background: white;
    color: #03254c;
    font-size: 1.5rem;
}

.NewEvent__locationRow {
    display: flex;
}

.NewEvent__radio {
    display: flex;
    flex-direction: column;
}


.NewEvent__radioOptions {
    display: flex;
    margin-top: 1rem;
    }
.NewEvent__radioOption {
    margin: 0.5rem 1rem 0 0;
}



.NewEvent__location {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}


.NewEvent__locationInput {
    height: 2rem;
    width: 20rem;
    margin: 1rem 0rem;
    padding-left: 2rem;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    background: white;
    color: #03254c;
    font-size: 1rem;
}

.form__button {
    margin-top: 2rem;
    color: white;
    background: #4b86b4;
    border: none;
    border-radius: 25px;
    height: 3rem;
    width: 30%;
    padding: 0 1rem;
    font-size: 2rem;
    align-self: flex-end;
    
}

