.nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7eff6 ;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #adcbe3 ;
}

.nav__left > a  {
    font-size: 30px;
    font-weight: bold;
    padding-left: 3rem;
    color: #4b86b4 ;
    text-decoration: none;
}



.nav__right  {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;   
    padding-right: 2rem;
}

.nav__right > a {
    text-decoration: none;
    color: #4b86b4;
    padding-right: 2vw;
}

.nav__logout {
    color: #4b86b4;
    font-weight: bold;
}