/* .sidebar {
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: blue;
    width: 250px;
    display: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms ;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background: lightblue;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
} */


/* /////////////////////////////// */

.sidebar__close{
    display: none;
}

.sidebar__title {
    display: block;
    font-size: 2rem;
}
.sidebar__drawer{
    height: 100vh;
    overflow: scroll;
}

/* .sidebar__nav{
    margin-left: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.sidebar__navtitle {
    font-size: 2rem;
    margin-left: 1rem;
}

.sidebar__navlogout {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .sidebar__close{
        display: block;
    }
    .sidebar__title {
        display: none;
    }
  }