.eventcards {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.eventcard__container{
    border-radius: 10px;
    width: 20rem;
    height: 10rem;
    margin-top: 3rem; 
    margin-left: 2rem;

}

.eventcard__title {
    font-size: 0.8rem;
    background-color: #1167b1;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.eventcard__title > h1{
    margin-left: 0.5rem
}

.eventcard__desc {
    margin: 0.5rem;
    overflow: scroll;
    height: 5rem;
    color: #1167b1;
}

.eventcard__descBorder {
    border: 2px solid #1167b1;
}

.eventcard__footer {
    padding: 0.1rem 1rem;
    background-color: #1167b1;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
}

.eventcard__hide {
    display: none;
}

.eventcards__closeIcon { 
    display: flex;
    justify-content: flex-end;
    width: 95%;
   
}

.eventcards__closeIcon{ 
    color: #1167b1;
   
}