.eventcards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 70vh;
  overflow: scroll;
  padding: 1rem 0;
}

.eventcard__container {
  border-radius: 2px;
  width: 20rem;
  height: 11rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 0 0.5rem gray;
  transition: all .2s ease-in-out;
}
.eventcard__container:hover {
    transform: scale(1.1);
  }
  

.eventcard__title {
    margin: 1rem 1rem;
  font-size: 0.6rem;
  color: black;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.eventcard__title > h1 {
    width: 100%;
    margin-top: 1rem;
    height: 1.5rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eventcard__desc {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  overflow: scroll;
  height: 5rem;
  color: black;

}



.eventcard__footer {
  padding: 0.1rem 1rem;
  color: black;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.eventcard__org {
    width: 60%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.eventcards__model {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}

.eventcards__closeIcon {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  color: #1167b1;
}

.eventcards__tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 9%;
  background: #414757;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  color: white;
  z-index: 50;
}

.activeTab > h1 {
  font-weight: bold;
}

.nonActiveTab > h1 {
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .eventcard__container {
        width: 40vw;
        margin: 1rem; 
      }

  }

@media only screen and (max-width: 680px) {
    .eventcard__container {
        width: 90vw;
        margin: 1rem auto; 
      }
      .eventcard__title {
      text-align: start;
    }

    .eventcard__org {
        /* width: 5rem; */
    }
    

  }