.eventTab__leftIcon {
    display: flex;
    padding: 1rem;
    padding-left: 3rem;
}
.MuiSvgIcon-root {
    font-size: 3rem !important;
    color: #4b86b4 ;
  }


.eventTab__card {
    display: flex;
    align-items: center;
    height: 5rem;
    border-top: 1px solid white ;
    color: #2a4d69  ;
}

.eventTab__title{
    padding-left: 3rem;
    font-size: 0.8rem;
}

.eventTab__card:hover{
    color: #e7eff6;
    background-color: #adcbe3 ;
}

.eventTab__link > a {
    text-decoration: none;
    color: #2a4d69
}

.eventTab > a:hover{
    color: #e7eff6;
    background-color: #adcbe3 ;
}

