.eventTab__leftIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 3rem;
}
.MuiSvgIcon-root {
    font-size: 3rem !important;
    color: white ;
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none !important;
}

.eventTab__card {
    display: flex;
    align-items: center;
    height: 5rem;
    border-top: 1px solid white ;
    color: white  ;
}

.eventTab__leftIconTitle {
    font-size: 1.3rem;
   
}

.eventTab__title{
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    width: 80%;
    font-size: 0.8rem;
    overflow: scroll;
    text-overflow: ellipsis
}

.eventTab__card:hover{
    color: #1167b1;
    background-color: white ;
}

.eventTab__link > a {
    text-decoration: none;
    white-space: nowrap;
    color: #2a4d69
}

.eventTab > a:hover{
    color: #1167b1;
    background-color: white ;
}

